@import '../../utils/_variables.scss';
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1920px;
        width: 100%;
        padding: 0 10px;
    }

    &_open{
        height: 100vh;
        overflow-y: hidden;
    }

}

.button {
    border: 1px solid $COLOR_GRAY;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
}

