@import '../../utils//variables';

.pageNotFaund {
    width: 100vw;
    max-width: 1280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      &__span {
        max-width: 400px;
        font-style: normal;
        font-weight: 400;
        font-size: 140px;
        line-height: 169px;
        text-align: center;
        color: $TEXT_COLOR;
      }
      
      &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $TEXT_COLOR;
        margin: 0;
        padding: 5px 0 184px;
      }
      
      &__back {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $COLOR_RED;
        text-decoration: none;
        margin: 0;
        padding: 0;
      }
      
      &__back:hover {
        color: rgba(204, 204, 204, 1);
        transition: all 0.2s linear;
      }
  }
  
  