@import '../../utils/variables';

.header {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
    padding-bottom: 15px;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 25px 40px;
    }
    &__logo {
        background: $TEXT_COLOR;
        border-radius: 50%;
        padding: 3px;
    }
    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    &__link {
        color: $TEXT_COLOR;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }

    &__span-text{
        display: block;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: $TEXT_COLOR;
        cursor: pointer;

        &_close {
            display: none;
        }
    }
}
