$font_stack: 'Roboto', sans-serif;
$MAIN_COLOR: rgba(39, 43, 51, 1);
$CARD_COLOR: rgba(60,62,68,1);
$TEXT_COLOR: rgba(245,245,245,1);
$COLOR_RED: rgba(235, 23, 23, 1);
$COLOR_GREEN: rgba(0, 128, 0, 1);
$COLOR_GRAY: rgba(128,128,128,1);
$COLOR_HOVER: rgba(128,128,128,0.5);
$COLOR_GRAY-MODAL: rgba(128,128,128,0.95);
$COLOR_WHITE: rgba(255, 255, 255,1);
$COLOR_INPUT-BORDER: rgba(189, 189, 189,1);
$COLOR_BORDER-FOCUS: rgba(76, 60, 219,1);
$COLOR_BOX-SHADOW: rgba(56, 77, 194, 0.25);
