@import '../../utils/_variables.scss';

.characterEach{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $CARD_COLOR;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__image {
        box-sizing: border-box;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 13px;
        gap: 30px;
    }
    &__name {
        font-size: 27px;
        font-style: normal;
        font-weight: 800;
        color: $TEXT_COLOR;
    }
    &__status {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: $TEXT_COLOR;
    }
    &__point{
        width: 15px;
        height: 15px;
        background: $COLOR_GREEN;
        border-radius: 50%;
    }
    &__point-red{
        width: 15px;
        height: 15px;
        background: $COLOR_RED;
        border-radius: 50%;
    }
    &__point-gray{
        width: 15px;
        height: 15px;
        background: $COLOR_GRAY;
        border-radius: 50%;
    }
    &__box{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__gender {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: $TEXT_COLOR;
    }
}
